/* custom property */
:root {
    --accent-color: #800000;  /* could also be coded #800 */
}

/* default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.4;
    width: 80%;
    margin: auto;
    border: 2px solid var(--accent-color);
}
a:hover, a:focus{
    font-style: italic;
    color: var(--accent-color);
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 130%;
    color: var(--accent-color);
}
h3 {
    font-size: 105%;
}

h1, h2, h3, p, ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ul {
    margin-left: 2em;
}

/* the styles for the header */
header {
    background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 65%, #f6bb73 100%);
    border-bottom: 2px solid var(--accent-color);
    padding: 1em;
}
header h2 {
    font-size: 175%;
    padding-bottom: 0;
}
header h3 {
    font-size: 130%;
    font-style: italic;
    padding-bottom: 1em;
}
header img {
    float: left;
    margin: 0.75em 1em;
}

/* the styles for the main content */
main {
    clear: left;
    padding: 0 1em 1em;
}
main h1 {
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}
blockquote {
    font-style: italic;
    padding: 1em 2em;
}
main img {
    border: 4px double var(--accent-color);
    border-radius: 10px;
    display: block;
    margin-bottom: 1em;
}

/* the styles for the footer */
footer {
    background-color: var(--accent-color);
}
footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}

/* CSS class */
.large {
    font-size: 125%;
}
